---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section class="bg-[#fab500]">
	<div class="container mx-auto px-4 sm:px-6">
		<div class="flex justify-center items-center min-h-[600px]">
			<div class="text-center">
				<h1 class="text-4xl md:text-[3.50rem] font-bold mb-8 font-heading">
					Welcome to Salt
				</h1>

				<div class="max-w-3xl mx-auto">
					<p class="md:text-xl font-medium">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae ipsum magni a, cumque veritatis rerum unde nulla numquam iure accusamus voluptatum nemo suscipit veniam similique, illo sunt vero eligendi!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
